h1{
    color:#7fffd4;
    text-decoration-line: overline underline;
}
h3{
    text-decoration-line: underline;
}

body{
    border-style: inset;
    background-color: #111f6ab2;
}

.MenuDoTopo{
    background-color: #6495ed;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    flex-direction: column;
}
.projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.linkss{
    display: flex;
    justify-content: flex-end;
}
.projeto{
    border-style: solid;
    margin: 50;
    background-color: #add8e6;
}